*{ 

    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #1a1a1a;
    text-align: center;
}

body a {
    font-size: 25px;
    color: #ff6600;
    text-decoration:none;
    display: block;
    margin: 70px;
    cursor: pointer;
    border-radius: 5px;
}