* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #1a1a1a;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header .logo img {
    width: 50px;
}

header nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;

}

header .icons span {
    margin: 0 5px;
    font-size: 20px;
}

.navbar button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.2rem;
    cursor: pointer;

}

.navbar button:hover {
    background-color: #555;
    
}

.login-page {
    display: flex;
    flex-wrap: wrap;
    height: calc(100vh - 100px); /* Ajuste do tamanho da tela */
}


.image-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.login-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2b2b2b;
    padding: 2rem;
    color: #fff;
}

.qr-image {
    width: 150px;
    height: auto;
    margin-bottom: 1rem;
}

h2 {
    margin-bottom: 1rem;
}

.login-form {
    width: 70%;
    max-width: 300px;
}

.login-form label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.login-form input {
    width: 70%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
}

.login-form button {
    width: 70%;
    padding: 0.7rem;
    border: none;
    border-radius: 5px;
    background-color: #666;
    color: #fff;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #444;
}


footer {
    background-color: #ffffff;
    padding: 20px;
    color:#1a1a1a;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer-links div {
    text-align: left;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links a {
    color: #1a1a1a;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

