* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1d1d1d;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
}

header .logo img {
    width: 50px;
}

header nav a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

header .icons span {
    margin: 0 5px;
    font-size: 20px;
}

.map-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-section img {
    width: 100%;
    height: auto;
}

.color-links {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 15px 0;
}

.color-box {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: inline-block;
    border: 2px solid #fff; /* Borda branca para destacar */
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6); /* Efeito de sombra */
    transition: transform 0.2s, box-shadow 0.2s;
}

.color-box:hover {
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.map-title {
    width: 100%;
    background-color: #ff6600;
    text-align: center;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 20px;
    color: #fff;
}

.map-container {
    width: 80%;
    max-width: 600px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 20px;
}

.map-image {
    width: 100%;
    height: auto;
}

footer {
    background-color: #ffffff;
    padding: 20px;
    color:#1a1a1a;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer-links div {
    text-align: left;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links a {
    color: #1a1a1a;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}